#define ZMK_POINTING_DEFAULT_SCRL_VAL 150

#include <dt-bindings/zmk/input_transform.h>
#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 1
#define SYMBOL 2
#define NUMBER 3
#define ACTION 4
#define SETTING 5
#define SCROLL 6

//mouse cursol

&mmv {
    delay-ms = <20>;
    trigger-period-ms = <5>;
    time-to-max-speed-ms = <100>;
    acceleration-exponent = <2>;
};

//mouse scroll

&msc {
    delay-ms = <3>;
    trigger-period-ms = <3>;
    time-to-max-speed-ms = <100>;
    acceleration-exponent = <0>;
};

&mt {
    tapping-term-ms = <200>;
    quick-tap-ms = <175>;
    require-prior-idle-ms = <120>;
    flavor = "tap-preferred";
};

&lt {
    tapping-term-ms = <200>;
    quick-tap-ms = <175>;
    flavor = "balanced";
};

/ {
    input_processors {
        zip_wheel_scaler: zip_wheel_scaler {
            compatible = "zmk,input-processor-scaler";
            #input-processor-cells = <2>;
            type = <INPUT_EV_REL>;
            codes = <INPUT_REL_WHEEL>;
            track-remainders;
        };
    };
};

&msc_input_listener {
    speed_up {
        layers = <ACTION>;
        input-processors = <&zip_wheel_scaler 3 1>; //スクロールを3倍速にする
    };
};

&trackball_listener {
    scroller {
        layers = <SCROLL>;
        input-processors =
            <&zip_xy_transform INPUT_TRANSFORM_Y_INVERT>,
            //スクロール方向を逆転,,,,,,
            <&zip_xy_scaler 1 16>,
            //ボール移動量を1/16に減速（数字を大きくするほど遅い）,,,,,,
            <&zip_xy_to_scroll_mapper>;
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        InsertKey {
            bindings = <&kp INS>;
            key-positions = <7 8>;
        };

        CenterClick {
            bindings = <&mkp MB3>;
            key-positions = <19 17>;
        };

        RightClick {
            bindings = <&mkp MB2>;
            key-positions = <18 19>;
        };

        scroll_change {
            bindings = <&mo 6>;
            key-positions = <17 18>;
        };

        modoru {
            bindings = <&mkp MB4>;
            key-positions = <26 27>;
        };

        susumu {
            bindings = <&mkp MB5>;
            key-positions = <28 27>;
        };

        hankaku {
            bindings = <&kp LANG2>;
            key-positions = <12 13>;
        };

        zenkaku {
            bindings = <&kp LANG1>;
            key-positions = <17 16>;
        };

        esc {
            bindings = <&kp ESC>;
            key-positions = <0 1>;
        };
    };

    behaviors {
        re_kp: sensor_rotate_kp {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };

        mouse_scrl: mouse_wheel_scrl {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;

            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q             &kp W         &kp E           &kp R  &kp T                                      &kp Y        &kp U  &kp I        &kp O                   &kp P
&kp A             &kp S         &kp D           &kp F  &kp G                                      &kp H        &kp J  &kp K        &kp L                   &mkp MB1
&mt LEFT_SHIFT Z  &kp X         &kp C           &kp V  &kp B                                      &kp N        &kp M  &kp COMMA    &kp DOT                 &mt RIGHT_SHIFT MINUS
&mt LCTRL ESC     &kp LEFT_WIN  &mt LALT LANG2  &none  &lt 2 SPACE  &lt 3 TAB    &lt 4 BACKSPACE  &lt 2 ENTER         &lt 5 LANG1  &mt RIGHT_ALT LS(INT1)  &mt RIGHT_CONTROL SLASH
            >;

            sensor-bindings = <&mouse_scrl SCRL_DOWN SCRL_UP>;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &mkp MB1
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &none   &trans  &trans    &trans  &trans          &trans  &trans  &trans
            >;
        };

        SYMBOL {
            bindings = <
&kp LS(N1)  &kp LS(N2)  &kp LS(N3)    &kp LS(N4)   &kp LS(N5)                           &kp LS(N6)  &kp LS(N7)    &kp LS(N8)     &kp LS(N9)    &kp LBKT
&kp SLASH   &kp INT1    &kp SEMI      &kp SQT      &kp LS(EQUAL)                        &kp MINUS   &kp LS(LBKT)  &kp RBKT       &kp BSLH      &kp EQUAL
&trans      &trans      &kp LS(SEMI)  &kp LS(SQT)  &trans                               &trans      &kp INT3      &kp LS(RBKT)   &kp LS(BSLH)  &kp LS(INT1)
&trans      &trans      &trans        &none        &trans         &trans    &kp DELETE  &trans                    &kp LS(MINUS)  &kp LS(INT3)  &kp QUESTION
            >;

            sensor-bindings = <&re_kp C_VOLUME_DOWN C_VOLUME_UP>;
        };

        NUMBER {
            bindings = <
&kp F1   &kp F2   &kp F3       &kp F4  &kp F5                      &kp LS(SEMI)  &kp N7  &kp N8  &kp N9  &kp MINUS
&kp F6   &kp F7   &kp F8       &kp F9  &kp F10                     &kp LS(SQT)   &kp N4  &kp N5  &kp N6  &kp SLASH
&kp F11  &kp F12  &trans       &trans  &trans                      &trans        &kp N1  &kp N2  &kp N3  &kp ENTER
&trans   &trans   &bootloader  &none   &trans   &trans    &kp DOT  &kp N0                &trans  &trans  &trans
            >;

            sensor-bindings = <&mouse_scrl SCRL_DOWN SCRL_UP>;
        };

        ACTION {
            bindings = <
&kp C_BRI_DN  &kp C_BRI_UP  &kp C_MUTE       &kp C_VOLUME_DOWN    &kp C_VOLUME_UP                    &kp LG(TAB)  &kp LC(LG(LEFT_ARROW))  &kp UP_ARROW    &kp LC(LG(RIGHT_ARROW))  &kp LG(D)
&trans        &trans        &kp LS(LG(S))    &kp LA(PRINTSCREEN)  &kp PRINTSCREEN                    &kp HOME     &kp LEFT_ARROW          &kp DOWN_ARROW  &kp RIGHT_ARROW          &kp END
&trans        &trans        &kp LC(LA(DEL))  &kp LC(LS(ESCAPE))   &kp LC(LA(INS))                    &kp PAGE_UP  &mkp MB4                &mkp MB3        &mkp MB5                 &kp PAGE_DOWN
&trans        &trans        &trans           &none                &trans           &trans    &trans  &trans                               &trans          &kp C_BRI_DN             &kp C_BRI_UP
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_DOWN C_VOLUME_UP>;
        };

        SETTING {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                              &bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans        &trans        &trans        &trans        &trans                                    &trans          &trans        &trans        &trans        &trans
&trans        &trans        &trans        &trans        &trans                                    &trans          &trans        &trans        &trans        &bt BT_CLR
&trans        &trans        &trans        &none         &trans        &bootloader    &bootloader  &studio_unlock                &trans        &trans        &bt BT_CLR_ALL
            >;

            sensor-bindings = <&inc_dec_kp RIGHT_ARROW LEFT_ARROW>;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &none   &trans  &trans    &trans  &trans          &trans  &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp DOWN_ARROW UP_ARROW>;
        };
    };
};
